@font-face {
    font-family: 'DQfont';
    src: url(../font/PixelMplus10-Regular.ttf);
}

@font-face {
    font-family: 'myfont_jp';
    src: url(../font/Kaiso-Next-B.otf);
}

.body {    
    margin: 0;
    padding: 0;
    height: 100%;
}

.font {
    font-family: DQfont;
}
@media screen and (max-width:480px) {
    .wrap {
        background: url(../item/sakaba_smt.jpg) no-repeat center;
        background-size: cover;
    }
}
@media screen and (min-width:480px){

    .wrap {
        background: url(../item/sakaba.jpg) no-repeat center;
        background-size: cover;
    }
}

.title {
    color: whitesmoke;
    padding-top: 50px;
}

.imageArea {
    margin-top:200px;
}


.inputArea {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.sameHeight {
    display: table-cell;
    vertical-align: middle;
}

.list-table {
    text-align: center;
}

.wrap-color {
    background: url('../item/p0442_l.png') no-repeat center;
    background-size: cover;
    padding-top:0;
    margin-top:0;
    height: 100%;
}

.wrap-color-text  {
    width: 75%;
    font-family: 'myfont_jp';
    background: white;
    opacity: 0.7;
}

#disp{
    padding: 20px 0 15px 0;
}

.score {
    font-size: 30px;
}
